{% extends 'index.html' %}
<head>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
{% block title %} Create Task {% endblock %}
{% block content %}
<div class="container-fluid">
      <div class="row">
            <div class = "col-md-6">
                  <form id = "form" method = "POST"  action = "{% url 'submit' %}">
                        {% csrf_token %}
                        <div class = "form-group">
                              <label for = "taskName"> Task Name: </label>
                              <input type = "text" class = "form-control"  id = "task" name = "task" aria-describedby = "taskHelp" placeholder = "Task">
                        </div>
                        <div class = "form-group">
                              <label for = "taskDescription"> Description: </label>
                              <textarea class="form-control" id="description" name = "description" placeholder = "Description"></textarea>
                        </div>
                        <div class = "form-group">
                              <label for = "taskPriority"> Priority: </label>
                              <div class="form-check form-check-inline">
                                    <span style = "width:50px">
                                          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="High Priority">
                                          <label class="form-check-label" for="inlineRadio1" >!!!</label>
                                    </span>
                              </div>
                              <div class="form-check form-check-inline">
                                    <span style = "width:50px">
                                          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Medium Priority">
                                          <label class="form-check-label" for="inlineRadio2" >!!</label>
                                    </span>
                              <div class="form-check form-check-inline">
                                    <span class = "radio"style = "width:50px">
                                          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="Low Priority">
                                          <label class="form-check-label" for="inlineRadio3" >!</label>
                                    </span>
                              </div>           
                        </div>
                        <div class = "form-group">
                              <button type = "submit" class = "btn btn-primary">Create Task</button>
                        </div>
                  </form>
                  <div id = "output">
                  </div>
                  <script>
                        $('#form').on('submit' ,function(event) {
                              event.preventDefault();
                        
                              $.ajax({
                                    type : "POST",
                                    url : "{% url 'submit' %}",
                                    data: {
                                          task : $('#task').val(),
                                          description : $('description').val(),
                                          csrfmiddlewaretoken: '{{ csrf_token }}',
                                          dataType: "json",
                                    },
                                    
                                    dataType : 'json',
                              });
                        });
                  </script>
            </div>
      </div>
</div>
{% endblock %}